body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

.content {
    background-color: whitesmoke;
}

.jumbotron {
    background-color: 	#007399;
    color: whitesmoke;
    margin-bottom: 0;
}

h3 {
    margin: 10px;
}
.answer-choice {
    background-color: lightgray;
    font-size: 24px;
}

p.answer-choice {
    padding: 5px;
}

p.answer-choice:hover {
    background-color: #09B0AE;
}

p.answer-choice:active {
    background-color: #08A677;
}

.answer-div {
padding: 20px 0;
}